* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.navBar {
    width: 100%;
    height: 90px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 999;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.6s ease-in-out;
}

.logotipo {
    width: 110px;
    margin-left: 8rem;
}

.navList {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left: 30%;
}

.navLi {
    color: #bbb;
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.navLi:hover {
    color: #0072ff;
    border-bottom: #0072ff solid 2px;
    padding-bottom: 1rem;
}

.loginBorder {
    color: #bbb;
    font-size: 24px;
    transition: all 0.5s;
}

.loginBorder:hover {
    border: #0072ff solid 2px;
}

.borde_bottom {
    width: 94%;
    height: 0.5px;
    background-color: #0072ff;
    top: 90px;
    position: fixed;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.menuToggle {
  display: none;
  font-size: 28px;
  color: #eee;
  cursor: pointer;
  margin-left: auto;
  margin-right: 2rem;
  z-index: 101;
}

@media (max-width: 1000px) {

    .logotipo {
        width: 100px;
        margin-left: 6rem;
    }
    
    .navList {
        margin-left: 15%;
    }  
}

@media (max-width: 800px) {

  .menuToggle {
    display: block;
  }

  
  .navBar {
    height: 70px;
  }
  

  .navList {
    position: fixed;
    top: 71px;
    left: 0;
    right: 0;
    width: 100vw;
    height: calc(100vh - 70px);
    background: linear-gradient(135deg, #020308, #071320);
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transform: translateY(-200%);
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    margin-left: 0;
    padding-left: 2rem;
    border-radius: 10px;
  }

  .navList.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .navLi {
    font-size: 20px;
    margin: 20px 0;
    border-bottom: #0072ff 1px solid;
    width: 100%;
  }

  .logotipo {
    margin-left: 4rem;
    width: 90px;
  }

  .borde_bottom {
    top: 70px;
    }

}


@media (max-width: 460px) {
    
    .navBar {
      height: 50px;
    }
    
    .navList {
      top: 51px;
      height: calc(100vh - 50px);
    }
  
    .navLi {
      font-size: 18px;
    }
  
    .logotipo {
      margin-left: 2rem;
      width: 64px;
    }
  
    .borde_bottom {
      top: 50px;
      }
  
}